<h1>Welcome to Skadoosh Service</h1>

<h2>Available API's</h2>

<ul>
  <li>
    <h3>Help API</h3>
    <p>Provides answers to the input quries</p>
    <h5>Usage</h5>
    <code>
      curl http://localhost:4000/api/help -d text="How do I apply for a loan?"
    </code>
    <br/>
    <code>
      Sample response: Thanks John, You need to provide details for the following, and
      I will take care of filling out the form and submitting them. Is this fine?
    </code>
  </li>
</ul>